<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>Coming Soon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body style="height: 100%; background-image: url('{{url_for('static', filename="1567666.png")}}'); background-size: cover;">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-12 my-auto">
				<h1 class="display-1 text-light" align='center'>COMING SOON</h1>
			</div>
		</div>
	</div>
</body>
</html>